.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.isDone {
  font-weight: bold;
  opacity: 0.5;
  color: hotpink;
  text-decoration: line-through;
}

.btn-active {
  font-weight: bold;
  color:green;
  background-color: greenyellow;
  border-color: greenyellow;
}

.error {
  border: 2px solid hotpink;
  outline: none;
}
